<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wuke.flashnote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="Speech"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".setting.Setting" >
        </activity>
    </application>


    <!--连接网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--录音机使用权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--网络信息状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--Wi-Fi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--手机信息权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!---->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--通讯录权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--储写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--配置权限-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--储读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--定位信息-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
